<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">TwiRemind.Me</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right user">

                    {% if request.user.is_authenticated %}
                        @{{ request.user }} - <a href="/logout?next=/">logout</a>
                    {% else %}
                        <a href="/login">login</a>
                    {% endif %}
                </p>
                <ul class="nav">
                    {% if request.user %}
                        <li><a href="/home">Home</a></li>
                    {% else %}
                        <li><a href="/">Home</a></li>
                    {% endif %}

                    <!--
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>